In [1]:
import matplotlib
import matplotlib.pyplot as plt
print(matplotlib.is_interactive())
%config IPCompleter.greedy=True

True

In [2]:
import pandas as pd
df = pd.read_csv("datasets/graduation.csv", sep = ';', decimal=",")

In [3]:
df.describe(include='all')

       College  %_grad_on_time
count       48       48.000000
unique       6             NaN
top          E             NaN
freq         8             NaN
mean       NaN       68.347917
std        NaN       10.196411
min        NaN       43.200000
25%        NaN       59.575000
50%        NaN       69.900000
75%        NaN       74.725000
max        NaN       87.400000

In [14]:
import matplotlib.pyplot as plt

grouped = df.groupby("College")
#type(grouped["%_grad_on_time"].median())
grouped.median()
#fig = plt.figure(figsize=(7, 7))
#plt.boxplot([group["%_grad_on_time"] for _, group in grouped], labels=[_ for _, group in grouped]);

         %_grad_on_time
College
A                 63.75
B                 70.15
C                 67.65
D                 79.00
E                 59.15
F                 72.00