In [2]:
import matplotlib
import matplotlib.pyplot as plt
print(matplotlib.is_interactive())
%config IPCompleter.greedy=True

True

In [3]:
import pandas as pd
df = pd.read_csv("datasets/nightlight.csv", sep = ';', decimal=",")

In [4]:
df.describe(include='all')

              Light Nearsightedness
count           479             479
unique            3               2
top     night light              No
freq            232             342

In [10]:
pd.crosstab(
    index=df["Nearsightedness"], 
    columns=df["Light"], 
    margins=True)

Light            lamp  night light  no light  All
Nearsightedness
No                 34          153       155  342
Yes                41           79        17  137
All                75          232       172  479

In [6]:
crosstab = crosstab/crosstab.T["All"]
#grouped = df.groupby("College")
#plt.boxplot([group["%_grad_on_time"] for _, group in grouped], labels=[_ for _, group in grouped]);

crosstab.style.format('{:,.2%}'.format)