In [1]:
import matplotlib
import matplotlib.pyplot as plt
print(matplotlib.is_interactive())
%config IPCompleter.greedy=True

True

In [2]:
import pandas as pd
df = pd.read_csv("datasets/nightlight.csv", sep = ';', decimal=",")

In [3]:
df.describe(include='all')

              Light Nearsightedness
count           479             479
unique            3               2
top     night light              No
freq            232             342

In [30]:
import matplotlib.pyplot as plt


crosstab = pd.crosstab(index=df["Nearsightedness"], 
                           columns=df["Light"], margins=True)

print(crosstab)
#print(crosstab)
#print(crosstab.T["All"])
#crosstab/crosstab.loc["All","All"]
#crosstab.div(crosstab["All"], axis=0)
100*crosstab/crosstab.T["All"]
#grouped = df.groupby("College")
#plt.boxplot([group["%_grad_on_time"] for _, group in grouped], labels=[_ for _, group in grouped]);

Light            lamp  night light  no light  All
Nearsightedness
No                 34          153       155  342
Yes                41           79        17  137
All                75          232       172  479

Light                  lamp  night light    no light         All
Nearsightedness
No                45.333333    65.948276   90.116279   71.398747
Yes               54.666667    34.051724    9.883721   28.601253
All              100.000000   100.000000  100.000000  100.000000