In [3]:
import matplotlib
import matplotlib.pyplot as plt
print(matplotlib.is_interactive())
%config IPCompleter.greedy=True

True

In [1]:
import pandas as pd
df = pd.read_csv("datasets/sdintuition.csv", sep = ';')

In [2]:
df.describe(include='all')

         Class I  Class II  Class III
count  27.000000      27.0  27.000000
mean    5.000000       5.0   5.000000
std     1.568929       4.0   2.631174
min     1.000000       1.0   1.000000
25%     5.000000       1.0   3.000000
50%     5.000000       5.0   5.000000
75%     5.000000       9.0   7.000000
max     9.000000       9.0   9.000000