In [2]:
import matplotlib
import matplotlib.pyplot as plt
print(matplotlib.is_interactive())
%config IPCompleter.greedy=True

True

In [3]:
import pandas as pd
df = pd.read_csv("datasets/sdintuition.csv", sep = ';')

In [13]:
df.head()

   Class I  Class II  Class III
0        1         1          1
1        1         1          2
2        5         1          3
3        5         1          4
4        5         1          5

In [10]:
df[["Class I", "Class II"]].head()

   Class I  Class II
0        1         1
1        1         1
2        5         1
3        5         1
4        5         1

In [29]:
df.loc[1:3,"Class I" : "Class III"]

   Class I  Class II  Class III
1        1         1          2
2        5         1          3
3        5         1          4